.msg { 
    @include list-style(none);
    margin-bottom: 70px;
}

.user-chat-msg{
    @extend .msg;

    position:fixed;
    top:10%;
    width:100%;

    padding: 0;

    li { padding: 5px 10px; }

    li:nth-child(odd){ background: #eee; }
}